@import "tailwindcss";

@theme {
  --font-display: "Syncopate", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-neon-blue: #00f3ff;
  --color-neon-red: #ff003c;
  --color-dark-bg: #050505;
  --color-dark-surface: #0a0a0a;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-dark-bg);
}

/* Electron drag region utilities */
.drag-region {
  -webkit-app-region: drag;
}
.no-drag-region {
  -webkit-app-region: no-drag;
}
